#content {
	margin-top: 50px;
}

#oreMarket {
	margin-top: 74px;
}
#oreMarket thead {
	margin-top: -28px !important;
	background: white;
}

#filters {
	position: fixed;
	background: white;
	width: 100%;
	padding: 10px 0;
}

#filters input {
	width: 60px;
}
#filters input.big-input {
	width: 100px;
}

td.success {
	font-weight: bold;
}

label {
	margin-right: 20px;
}

.helpful-blue {
	color: #007BFF;
}

#templates {
	display: none;
}

.popover {
	max-width: 500px;
}
